<section class="imagen-1">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur provident voluptate praesentium
    corporis ab ex dignissimos totam nobis autem corrupti qui alias rerum nostrum vero ea sit, commodi
    voluptatibus tempore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore unde obcaecati a
    molestias nobis at debitis aperiam odio eaque placeat beatae veniam magni culpa ad atque expedita cumque,
    repudiandae ducimus! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum saepe maxime nam magni!
    Libero laboriosam, corrupti, asperiores id incidunt iste omnis quibusdam nemo tempora earum eos ipsum.
    Doloremque, debitis alias!</p>
    <img src="https://static.ideal.es/www/multimedia/201912/02/media/cortadas/varsovia-kpUH-U90852040771bX-624x385@Ideal.jpg"
    alt="..." />
  </section>
